<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>添加新游戏</title>
</head>
<body>
<section layout:fragment="content" class="row">
    <div class="col-md-8">
        <h3>添加新游戏</h3>
        <form th:action="@{/game/new}" th:method="post" th:object="${game}">
            <div class="form-group">
                <label class="control-label">名称*</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                       th:field="*{name}" type="text">
                <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
            </div>
            <div class="form-group">
                <label class="control-label">图片</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('imageUrl')} ? 'is-invalid'"
                       th:field="*{imageUrl}" type="text">
                <div class="invalid-feedback" th:errors="*{imageUrl}" th:if="${#fields.hasErrors('imageUrl')}"></div>
            </div>
            <div class="form-group">
                <label class="control-label">类别*</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('genre')} ? 'is-invalid'"
                       th:field="*{genre}" type="text">
                <div class="invalid-feedback" th:errors="*{genre}" th:if="${#fields.hasErrors('genre')}"></div>
            </div>
            <div class="form-group">
                <label class="control-label">简介</label>
                <textarea class="form-control" rows="4"
                          th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'"
                          th:field="*{description}"></textarea>
                <div class="invalid-feedback" th:errors="*{description}"
                     th:if="${#fields.hasErrors('description')}"></div>
            </div>
            <button type="submit" class="btn btn-outline-dark btn-block">提交</button>
        </form>
    </div>
</section>
<script layout:fragment="script">
</script>
</body>
</html>